snippet goals
	Today I'm going to make +1 steps towards my 1Q2018 goals:

	1. Blog
	${1}
	2. LaData
	${0}

snippet standup
	# `system("date +%Y-%m-%d")`: ${1}
	- What I did do yesterday?
	${2}
	- What have been my challenges yesterday?
	${3}
	- What am I doing today?
	${4}


