[General]
Show_Title=false
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=small
Font_Size_Numerical=1
Lines_Size=2
Update_Interval=60
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=5
Suppress_Hddtemp_Message=false
Suppress_Tooltip=false
Preferred_Width=395
Preferred_Height=623

[Chip0]
Name=dell_smm-0
Number=0

[Chip0_Feature1]
Id=1
Address=1
Name=CPU
Color=#00B000
Show=true
Min=0,00
Max=80,00

[Chip0_Feature4]
Id=4
Address=4
Name=GPU
Color=#00B000
Show=true
Min=0,00
Max=80,00

[Chip1]
Name=acpitz-0
Number=1

[Chip2]
Name=coretemp-0
Number=2

[Chip3]
Name=Hard disks
Number=3

[Chip4]
Name=ACPI
Number=4

