[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/izik/Desktop/SpiderOak Hive]
row=6
col=0

[/home/izik/Desktop/timesheet.ods]
row=5
col=0

[2bf40f2c-005b-42fa-b5a4-c3c90990d6aa]
row=0
col=0

[6052d593-42f2-43ca-8ef1-7467cf89981b]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/izik]
row=4
col=0

